.index {
  .swiper {
    position: relative;
    .search-box {
      box-sizing: border-box;
      padding: 0px 10px;
      position: absolute;
      top: 25px;
      z-index: 1;
      width: 100%;
      overflow: hidden;
      .search-form {
        flex: 1;
        margin: 0px 10px;
        padding: 7px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        .search-input {
          border-left: solid 1px #787d82;
          margin-left: 5px;
          .icon-seach {
            vertical-align: middle;
            padding: 0 7px;
          }
          span {
            font-size: 12px;
            color: #787d82;
          }
        }
        .icon-arrow {
          color: #7f7f80;
          margin: 0 2px;
          font-size: 12px;
        }
      }
    }
    .icon-map {
      font-size: 28px;
      color: #fff;
    }
  }

  .nav {
    .am-flexbox-item {
      text-align: center;
      padding: 7px 0px;
    }
    img {
      width: 48px;
      height: 48px;
    }
    p {
      height: 30px;
      line-height: 30px;
      color: green;
      font-size: 16px;
    }
  }
  .group {
    background-color: #f6f5f6;
    overflow: hidden;
    padding: 0 10px;
    &-title {
      margin: 15px 0px 15px 10px;
      font-size: 15px;
      position: relative;
      font-weight: bold;
      .more {
        color: #787d82;
        position: absolute;
        right: 0;
        font-size: 14px;
        font-weight: normal;
      }
    }
    &-content {
      img {
        width: 45px;
      }
      .am-flexbox {
        background-color: transparent;
        margin-bottom: 8px;
        text-align: center;
      }
      .am-grid-item {
        background-color: #fff;
        &:nth-child(odd) {
          margin-right: 8px;
        }
        .am-grid-item-content {
          padding: 5px 0;
        }
        .desc p.title {
          font-weight: 700;
          margin-bottom: 5px;
        }
        .desc span.info {
          font-size: 12px;
          color: #999;
        }
      }
    }
  }
  // .message {
  //   padding: 10px;
  //   background-color: pink;
  //   overflow: hidden;
  //   position: relative;
  //   .news {
  //     padding: 15px 10px 15px 0px;
  //     border-bottom: 1px solid #ccc;
  //     height: 120px;
  //     margin-left: 135px;
  //     img {
  //       height: 90px;
  //       width: 120px;
  //       position: absolute;
  //       left: 15px;
  //       top: 38px;
  //     }
  //     .newsWaper {
  //       float: right;
  //       word-wrap: break-word;
  //       word-break: normal;
  //       text-align: left;
  //       h3 {
  //         text-align: left;
  //         font-size: 14px;
  //         font-weight: bold;
  //       }
  //     }
  //   }
  // }

  .message {
    background-color: #fff;
    overflow: hidden;
    padding: 0 15px;
    .group-title {
      position: relative;
      margin: 15px 0px;
      font-size: 18px;
    }
    .news-item {
      height: 120px;
      padding: 10px 10px 10px 0;
      border-bottom: 1px solid #ccc;
      .imgwrap {
        float: left;
        height: 100px;
        width: 100px;
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .content {
        overflow: hidden;
        height: 100%;
        padding-left: 12px;
        .title {
          margin-bottom: 15px;
          font-size: 14px;
        }
        .info {
          width: 100%;
          color: #999;
        }
      }
    }
  }
}
