.index {
  .nav {
    .am-flexbox-item {
      text-align: center;
      padding: 7px 0px;
    }
    img {
      width: 48px;
      height: 48px;
    }
    p {
      height: 30px;
      line-height: 30px;
      color: green;
      font-size: 16px;
    }
  }
}
