.home {
  .tabBar {
    position: fixed;
    width: 100%;
    bottom: 0px;
    li {
      float: left;
      width: 25%;
      text-align: center;
      border-top: 1px solid red;
      padding-top: 5px;
    }
    .iconfont {
      font-size: 18px;
    }
    p {
      font-size: 12px;
    }
  }
}
